<table style="text-align:center;">
<tr>
  <th><%= a.label(:name) %></th>
  <td><%= a.text_field(:name) %></td>
</tr> 
<tr> 
  <th><%= a.label(:description) %></th>
  <td><%= a.text_field(:description) %></td>
</tr>
<tr>
  <th><%= a.label(:lat) %></th>
  <td><%= a.text_field(:lat) %></td>
</tr>
<tr>
  <th><%= a.label(:lang) %></th>
  <td><%= a.text_field(:lang) %></td>
</tr>
<tr>
  <th><%= a.label(:content) %></th>
  <td><%= a.text_field(:content) %></td>
</tr>
<tr>
  <th><%= a.label(:marker_image) %></th>
  <td><%= a.file_field(:marker_image) %></td>
</tr>
</table>
	