<!DOCTYPE html>
<html lang="en">
<head>
<title><%= @page_title || 'MapSticker' %></title>
<!-- JQUERY -->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
<%= stylesheet_link_tag "application" %>

<% if params[:action] == "contact" %>
<%= javascript_include_tag "main" %>

<% end %>

</head>

<body>
<header>
		<center><h1>Mapsticker</h1></center>
		<ul class="links_ul">
			<li><%= link_to "Home", {:controller => "demo", :action => "index"} %></li>
			<li><a href="javascript:void(0)">About</a></li>
			<li><a href="javascript:void(0)">The Team</a></li>
			<li><%= link_to "Route", {:controller => "demo", :action => "contact"}, 'data-no-turbolink' => true %></li>
		</ul>
		<!-- end navigation menu -->

		<div class="footer clearfix">
		
			<div id="directions-panel"></div>

		</div><!-- end footer -->

</header><!-- end header -->
		
<!-- Map -->

	<section class="main" id="map"></section>

	<div id="top">
		<div class="inner_top">
			<div class="btn-group">
			  <button type="button" class="btn btn-info" id="fb">Markers</button>
			  <button type="button" class="btn btn-info" id="go">Venues</button>
			  <button type="button" class="btn btn-success" id="be">Walking</button>
			  <button type="button" class="btn btn-success" id="rss">Driving</button>
			</div>
		</div>
	</div>
<!-- end main/map -->

<script type="text/javascript">

	var start  = new google.maps.LatLng(<%= @start_lat %>, <%= @start_lang %>);
	var end    = new google.maps.LatLng(<%= @end_lat %>, <%= @end_lang %>);
	var waipt1 = new google.maps.LatLng(41.180813, -8.65687);
	var waipt2 = new google.maps.LatLng(41.168621, -8.678223);
	var waipt3 = new google.maps.LatLng(41.157876, -8.680143);
    var my_super_array = [];

	<% @markers.each do |n| %>
		my_super_array.push(['<%= n.name %>','<%= n.description %>','<%= n.lat %>','<%= n.lang %>','<%= n.marker_image_file_name %>']);
	<% end %>

</script>

<%= render 'map' %>

</body>
</html>