<html>
<body>
<head>
<title>Hello</title>
</head>
<h1>Demo#hello</h1>

<p>Another test page!</p>

<% @array.each do |n| %>
  <p><%= n %></p>
<% end %>

<p><%= link_to('Index', {:action => 'index'}) %></p>
<p><%= link_to('Other Page', {:action => 'other_page', :page => "2", :name => "Pedro Silva"}) %></p>

<br />

<h1>Display Params:</h1>
<p>Id:<%= @id %></p>
<p>Previous page: <%= @page.to_i - 1 %></p>
<p>Current page: <%= @page.to_i %></p>
<p>Next page: <%= @page.to_i + 1 %></p>

<hr />

<%= params.inspect %>

</body>
</html>