<ul>
	<li><%= link_to "Index", {:controller => "demo", :action => "index"} %></li>
    <li><%= link_to "Subjects", {:controller => "subjects", :action => "index"} %></li>
    <li><%= link_to "Pages", {:controller => "pages", :action => "index"} %></li>
    <li><%= link_to "Sections", {:controller => "sections", :action => "index"} %></li>
</ul>


<!-- 1 -->
<div class="main">
    <div class="iphone">
        <div class="webpage" id="webpage">
            <%= image_tag("webpage.png", size: "499x283", alt: "Web Page") %>
            <div class="retina" id="retina"></div>
        </div>
    </div>
</div>

<!-- 2 -->
<div class="main">
    <div class="iphone">
        <div class="webpage" id="webpage2">
            <%= image_tag("webpage.png", size: "499x283", alt: "Web Page") %>
            <div class="retina" id="retina2"></div>
        </div>
    </div>
</div>

<!-- 3 -->
<div class="main">
    <div class="iphone">
        <div class="webpage" id="webpage3">
            <%= image_tag("webpage.png", size: "499x283", alt: "Web Page") %>
            <div class="retina" id="retina3"></div>
        </div>
    </div>
</div>

<!-- 4 -->
<div class="main">
    <div class="iphone">
        <div class="webpage" id="webpage4">
            <%= image_tag("webpage.png", size: "499x283", alt: "Web Page") %>
            <div class="retina" id="retina4"></div>
        </div>
    </div>
</div>