<ul>
	<li><%= link_to "Index", {:controller => "demo", :action => "index"} %></li>
    <li><%= link_to "Subjects", {:controller => "subjects", :action => "index"} %></li>
    <li><%= link_to "Pages", {:controller => "pages", :action => "index"} %></li>
    <li><%= link_to "Sections", {:controller => "sections", :action => "index"} %></li>
</ul>

<br>

<%= link_to "/assets/cat.jpg", class: "test" do %><%= image_tag("cat.jpg", size: "500x300", alt: "Edit Entry") %><% end %>
