<html>
<head>
</head>
<body>
<h1>EDIT</h1>

<%= form_for(:page, :url =>{:action => "update", :id => @page.id}) do |f| %>

	<table style="text-align:center;">
	<tr>
	  <th>Name</th>
	  <td><%= f.text_field(:name) %></td>
	</tr> 
	<tr> 
	  <th>Position</th>
	  <td><%= f.text_field(:position) %></td>
	</tr>
	<tr>
	  <th>Visible</th>
	  <td><%= f.check_box(:visible) %></td>
	</tr>
	<tr><td colspan="2"><%= submit_tag("Submit") %></td></tr>
	</table>

<% end %>


<%= link_to pages_show_path(:id => @page.id) do %><button>Back</button><% end %>

<button><%= link_to "Delete", {:action => "destroy", :id => @page.id}, method: :delete,  class: "btn_link" %></button>


</body>
</html>