<h1>EDIT</h1>

<%= form_for(:page, :url =>{:action => "update", :id => @page.id}) do |f| %>
	
	<%= render(:partial => "form", :locals => {:a => f})%>

	<div><%= submit_tag('Update Page') %></div>

<% end %>


<%= link_to({:action => "show", :id => @page.id}) do %><button>Back</button><% end %> 

<%= link_to({:action => "destroy", :id => @page.id}, method: :delete,  class: "btn_link") do %><button>Delete</button><% end %>
