<ul>
    <li><%= link_to "Index", {:controller => "demo", :action => "index"} %></li>
    <li><%= link_to "Subjects", {:controller => "subjects", :action => "index"}, class: "navbar_link" %></li>
    <li><%= link_to "Pages", {:controller => "pages", :action => "index"} %></li>
    <li><%= link_to "Sections", {:controller => "sections", :action => "index"} %></li>
</ul>

 <% unless @pages.empty? %>
	<% @pages.each do |p| %> 
		<%= link_to({:action => "show", :id => p.id}) do %><p><%= p.name %></p><% end %>
		<p><%= p.permalink %></p>
	<% end %>	
<% end %>

<%= link_to({:action => "new"},  class: "btn_link") do %><button>New Page</button><% end %>
