<table style="text-align:center;">
<tr>
  <th><%= a.label(:name) %></th>
  <td><%= a.text_field(:name) %></td>
</tr> 
<tr> 
  <th><%= a.label(:position) %></th>
  <td><%= a.text_field(:position) %></td>
</tr>
<tr>
  <th><%= a.label(:visible) %></th>
  <td><%= a.check_box(:visible) %></td>
</tr>
<tr>
  <th><%= a.label(:image) %></th>
  <td><%= a.file_field(:image) %></td>
</tr>
</table>

