<h1>EDIT</h1>

<%= form_for(:subject, :url =>{:action => "update", html: { multipart: true }, :id => @subject.id}) do |f| %>

	  <%= render(:partial => 'form', :locals => {:a => f}) %>

	  <div><%= submit_tag('Create Subject') %></div>

<% end %>

<%= link_to({:action => "show", :id => @subject.id}) do %><button>Back</button><% end %>

<%= link_to({:action => "destroy", :id => @subject.id}, method: :delete,  class: "btn_link") do %><button>Delete</button><% end%>
	
