<ul>
    <li><%= link_to "Index", {:controller => "demo", :action => "index"} %></li>
    <li><%= link_to "Subjects", {:controller => "subjects", :action => "index"}, class: "navbar_link" %></li>
    <li><%= link_to "Pages", {:controller => "pages", :action => "index"} %></li>
    <li><%= link_to "Sections", {:controller => "sections", :action => "index"} %></li>
</ul>


<% @subjects.each do |s| %>

    <div class="panel panel-success box">
    
	    <div class="panel-body">
			<%= link_to s.image.url(:large), class: "test" do %><%= image_tag s.image.url(:medium) %><% end %>
		</div>	
		
		<div class="panel-footer">    
			<%= link_to({:action => "show", :id => s.id}) do %><%= s.name %><% end %>
		</div>

	</div>

<% end %>

<%= link_to({:action => "new"},  class: "btn_link") do %><button>New Subject</button><% end %>

<% @page_title = "MapSticker | Subjects" %>