<html>
<head>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
</head>
<body>
<h1>SUBJECTS</h1>
<br />
<%= link_to "Add subject", {:action => "new"}, :class => "action new" %>
<table style="text-align:center;" class="pure-table">
<tr>
  <th>Name</th>
  <th>Position</th> 
  <th>Visible</th>
  <th>Pages</th>
  <th>Pages Names</th>
  <th colspan="3">Links</th>
</tr>
<% @subjects.each do |s| %>
<tr>

  <td><%=  s.name %></td>
  <td><%=  s.position %></td>		
  <td><%=  s.visible ? "Yes" : "No" %></td>
  <td><%=  s.pages.size %></td>
  <% if s.pages.size > 0 %>
  <td><%=  s.pages.first.name %></td>
  <% else %>
  <td>-</td>
  <% end %>
  <td><%=  link_to("Show", { :action => "show", :id => s.id }, :class => "action show") %></td>
  <td><%=  link_to("Edit", { :action => "edit", :id => s.id }, :class => "action edit") %></td>
  <td><%=  link_to("Delete", "#", :class => "action delete") %></td>
</tr>
<% end %>
</table>
</body>
</html>