<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <style type="text/css">
  .pure-table th{
    background-color: #BDD5EE;
  }
  </style>
</head>

<body>

<h1><%= @subject.name %></h1>
<h2><%= flash[:test] %></h2>

<br/>
<%= link_to "Back", {:action => "index"} %>

<table style="text-align:center;" class="pure-table">
<tr>
  <th>Name</th>
  <th>Position</th> 
  <th>Visible</th>
  <th>Pages</th>
  <th>Created At</th>
  <th>Updated At</th>
</tr>
<tr>
  <td><%=  @subject.name %></td>
  <td><%=  @subject.position %></td>		
  <td><%=  @subject.visible ? "Yes" : "No" %></td>
  <td><%=  @subject.pages.size %></td>
  <td><%=  @subject.created_at %></td>
  <td><%=  @subject.updated_at %></td>
</tr>
</table>

<div>
  <h2>Pages</h2>
  <% @subject.pages.each do |p|%>
  <p><%= p.name %></p>
  <p><%= p.subject.name %></p>
  <p><%= p.permalink %></p>
  <p><%= p.visible %></p>
  <p><%= p.position %></p>
  <% end %>
</div>

</body>
</html>