<!doctype html>
<html>
<head>
</head>

<body>

<h1><%= @subject.name %></h1>


<table style="text-align:center;">
<tr>
  <th>Picture</th>
  <th>Name</th>
  <th>Position</th> 
  <th>Visible</th>
  <th>Pages</th>
  <th>Created At</th>
  <th>Updated At</th>
</tr>
<tr>
  <td><%= image_tag @subject.image.url(:medium) %></td>
  <td><%=  @subject.name %></td>
  <td><%=  @subject.position %></td>		
  <td><%=  @subject.visible ? "Yes" : "No" %></td>
  <td><%=  @subject.pages.size %></td>
  <td><%=  @subject.created_at %></td>
  <td><%=  @subject.updated_at %></td>
</tr>
</table>

<div>
  <h2>Pages</h2>
  <% @subject.pages.each do |p|%>
  <p><%= p.name %></p>
  <p><%= p.subject.name %></p>
  <p><%= p.permalink %></p>
  <p><%= p.visible %></p>
  <p><%= p.position %></p>
  <% end %>
</div>

<br />

<%= link_to({:action => "edit", :id => @subject.id}) do %><button>Edit</button><% end %>
<%= link_to({:action => "index"}) do %><button>Back</button><% end %> 

<% if !flash[:subject].blank? %>
    <script type="text/javascript">alert("<%= flash[:subject] %>");</script>
<% end %>



</body>
</html>